<h2><b>University</b></h2>
<br>
<%= button_to "Product" , products_path , method: :get %>
<br>
<%= button_to "Send Mail" , new_order_path , method: :get %>
<br>
<p class="navbar-text float-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
    and role is <%= current_user.role? %> 
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%# byebug %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% if current_user.has_role? :superadmin %>
    <%= render 'college' %>

  <% elsif current_user.has_role? :college %>
    
    <%= render 'student' %>
    
    <% elsif current_user.has_role? :student %>
     <%= render 'show' %>
     
     
    <% end %>

<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>