<%= form_with model: @college ,url: college_path(college_id: @college.id) ,method: :put do |a|%>


<div class="field">
	<p><%= a.label :collegename %>
	<%= a.text_field :collegename %></p>

	<p><%= a.label :Collegecode %>
	<%= a.text_field :collegecode %></p>
</div>

<div class="actions">
      <%= submit_tag"update college"%>
</div>
<% end %>
<br>
<%= link_to "Back" , root_path %>